
@model List<MyDatabase.EF.ProductsCategory>


<ul>
    <h3>Danh mục sản phẩm</h3>
    @foreach (var item in Model)
    {
        <li class="dropdown">
            <a href="/san-pham/@item.metaTitle-@item.id">@item.name</a>
        </li>
    }
</ul>

