
@{
    ViewBag.Title = "Thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Mua hàng thành công. Hàng sẽ gửi đến bạn trong thời gian sớm nhất<br />Xin cảm ơn!
</div>

